<div class="view-features">
	<section class="view-features__feature">
		<div class="view-features__feature-content">
			<div class="view-features__feature-video">
				{{> youtube-overlay width=560 height=340 id=i18n.FEATURES.WHAT_IS.VIDEO title=i18n.FEATURES.WHAT_IS.TITLE}}
			</div>
			<div class="view-features__feature-description">
				<h2 class="view-features__feature-title">{{i18n.FEATURES.WHAT_IS.TITLE}}</h2>
				<hr class="view-features__feature-divider">
				<div>{{safeString i18n.FEATURES.WHAT_IS.TEXT}}</div>
			</div>
		</div>
	</section>

	<section class="view-features__feature">
		<div class="view-features__feature-content">
			<div class="view-features__feature-video">
				{{> youtube-overlay onlyhq=(expr preferences.lang '===' 'de') width=560 height=340 id=i18n.FEATURES.GENERAL.VIDEO title=i18n.FEATURES.GENERAL.TITLE}}
			</div>
			<div class="view-features__feature-description">
				<h2 class="view-features__feature-title">{{i18n.FEATURES.GENERAL.TITLE}}</h2>
				<hr class="view-features__feature-divider">
				<div>{{safeString i18n.FEATURES.GENERAL.TEXT}}</div>
			</div>
		</div>
	</section>

	<section class="view-features__feature">
		<div class="view-features__feature-content">
			<div class="view-features__feature-video">
				{{> youtube-overlay width=560 height=340 id=i18n.FEATURES.CUSTOM_COMPS.VIDEO title=i18n.FEATURES.CUSTOM_COMPS.TITLE}}
			</div>
			<div class="view-features__feature-description">
				<h2 class="view-features__feature-title">{{i18n.FEATURES.CUSTOM_COMPS.TITLE}}</h2>
				<hr class="view-features__feature-divider">
				<div>{{safeString i18n.FEATURES.CUSTOM_COMPS.TEXT}}</div>
			</div>
		</div>
	</section>

	<section class="view-features__feature">
		<div class="view-features__feature-content">
			<div class="view-features__feature-video">
				{{> youtube-overlay width=560 height=340 id=i18n.FEATURES.SIMULATION.VIDEO title=i18n.FEATURES.SIMULATION.TITLE}}
			</div>
			<div class="view-features__feature-description">
				<h2 class="view-features__feature-title">{{i18n.FEATURES.SIMULATION.TITLE}}</h2>
				<hr class="view-features__feature-divider">
				<div>{{safeString i18n.FEATURES.SIMULATION.TEXT}}</div>
			</div>
		</div>
	</section>

	<section class="view-features__feature">
		<div class="view-features__feature-content">
			<div class="view-features__feature-video">
				{{> youtube-overlay onlyhq=(expr preferences.lang '===' 'de') width=560 height=340 id=i18n.FEATURES.SAVING.VIDEO title=i18n.FEATURES.SAVING.TITLE}}
			</div>
			<div class="view-features__feature-description">
				<h2 class="view-features__feature-title">{{i18n.FEATURES.SAVING.TITLE}}</h2>
				<hr class="view-features__feature-divider">
				<div>{{safeString i18n.FEATURES.SAVING.TEXT}}</div>
			</div>
		</div>
	</section>
</div>
