<div class="view-imprint">
	<h1>{{i18n.IMPRINT.HEAD}}</h1>
	<p>{{i18n.IMPRINT.INFORMATION_OBLIGATION}}</p>
	<p>Andreas Schlößl</p>
	<p>Rüdengasse 9/7,<br>1030 {{i18n.IMPRINT.VIENNA}},<br>{{i18n.IMPRINT.AUSTRIA}}</p>
	<p><strong>E-Mail:</strong>&nbsp;<a href="mailto:business@logigator.com">business@logigator.com</a></p>
	<p>{{i18n.IMPRINT.SOURCE_1}}&nbsp;<a rel="noreferrer noopener" href="https://www.firmenwebseiten.at/impressum-generator/" target="_blank">firmenwebseiten.at</a>&nbsp;{{i18n.IMPRINT.SOURCE_2}}&nbsp;<a rel="noreferrer noopener" href="https://www.movetec.at/" target="_blank">movetec.at</a></p>
	<h3>{{i18n.IMPRINT.CONTENTS_HEAD}}</h3>
	<p>{{i18n.IMPRINT.CONTENTS_1}}</p>
	<p>{{i18n.IMPRINT.CONTENTS_2}}</p>
	<h3>{{i18n.IMPRINT.LINKS_HEAD}}</h3>
	<p>{{i18n.IMPRINT.LINKS_1}}&nbsp;<a href="https://www.ris.bka.gv.at/Dokument.wxe?Abfrage=Bundesnormen&amp;Dokumentnummer=NOR40025813&amp;tid=221100654" target="_blank" rel="noreferrer noopener">§ 17 ECG</a>&nbsp;{{i18n.IMPRINT.LINKS_1_1}}</p>
	<p>{{i18n.IMPRINT.LINKS_2}}</p>
	<h3>{{i18n.IMPRINT.COPYRIGHT_HEAD}}</h3>
	<div>{{i18n.IMPRINT.COPYRIGHT_1}} <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>, <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>, <a href="https://www.flaticon.com/authors/those-icons" title="Those Icons">Those Icons</a>  {{i18n.IMPRINT.COPYRIGHT_1_1}} <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
	<p>{{i18n.IMPRINT.COPYRIGHT_2}}</p>
</div>
