{{> user-space-nav }}
{{> account-mobile-nav title=i18n.USERSPACE.ACCOUNT.NAV.PROFILE showBack=true }}


<div class="view-my-account-profile">

	<section class="view-my-account-profile__container">
		<div class="view-my-account-profile__account-nav">
			{{> account-nav }}
		</div>
		<div class="view-my-account-profile__main">

			<div class="view-my-account-profile__picture">
				<img src="{{user.image}}" alt="Profile Image" class="view-my-account-profile__picture-image">
				<div class="view-my-account-profile__picture-btns">
					{{#if userData.hasImage }}
						<button class="btn-raised danger">{{i18n.USERSPACE.ACCOUNT.PROFILE.DELETE_IMAGE}}</button>
					{{/if}}
					<button class="btn-raised primary view-my-account-profile__picture-change">{{i18n.USERSPACE.ACCOUNT.PROFILE.CHANGE_IMAGE}}</button>
				</div>
			</div>

			<div class="view-my-account-profile__category view-my-account-profile__email">
				{{#> form action='/my/account/profile/update-email' class='view-my-account-profile__category-form' }}

					{{#> form-input name='email' type='email' label=i18n.USERSPACE.ACCOUNT.PROFILE.EMAIL autocomplete='email' value=userData.email }}
						{{> form-error error='isNotEmpty' message=i18n.USERSPACE.ACCOUNT.PROFILE.EMAIL_ERR_REQUIRED }}
						{{> form-error error='isEmail' message=i18n.USERSPACE.ACCOUNT.PROFILE.EMAIL_ERR_INVALID }}
						{{> form-error error='emailTaken' message=i18n.USERSPACE.ACCOUNT.PROFILE.EMAIL_ERR_TAKEN }}
						{{> form-error error='mustChange' message=i18n.USERSPACE.ACCOUNT.PROFILE.EMAIL_ERR_CHANGE clientValData=userData.email }}
					{{/form-input}}

					<button type="submit" class="btn-raised primary view-my-account-profile__category-save">{{i18n.USERSPACE.ACCOUNT.PROFILE.SAVE}}</button>

				{{/form}}
			</div>

			<div class="view-my-account-profile__category view-my-account-profile__username">
				{{#> form action='/my/account/profile/update-username' class='view-my-account-profile__category-form' }}

					{{#> form-input name='username' type='text' label=i18n.USERSPACE.ACCOUNT.PROFILE.USERNAME autocomplete='username' value=userData.username }}
						{{> form-error error='isNotEmpty' message=i18n.USERSPACE.ACCOUNT.PROFILE.USERNAME_ERR_REQUIRED }}
						{{> form-error error='minLength' message=i18n.USERSPACE.ACCOUNT.PROFILE.USERNAME_ERR_MIN clientValData='2'}}
						{{> form-error error='maxLength' message=i18n.USERSPACE.ACCOUNT.PROFILE.USERNAME_ERR_MAX clientValData='20' }}
						{{> form-error error='matches' message=i18n.USERSPACE.ACCOUNT.PROFILE.USERNAME_ERR_PATTERN clientValData='^[a-zA-Z0-9_-]+$' }}
						{{> form-error error='mustChange' message=i18n.USERSPACE.ACCOUNT.PROFILE.USERNAME_ERR_CHANGE clientValData=userData.username }}
					{{/form-input}}

					<button type="submit" class="btn-raised primary view-my-account-profile__category-save">{{i18n.USERSPACE.ACCOUNT.PROFILE.SAVE}}</button>

				{{/form}}
			</div>

		</div>
	</section>
</div>
