{{> user-space-nav }}
{{> account-mobile-nav title=i18n.USERSPACE.ACCOUNT.NAV.SECURITY showBack=true }}

<div class="view-my-account-security">

	<section class="view-my-account-security__container">
		<div class="view-my-account-security__account-nav">
			{{> account-nav }}
		</div>
		<div class="view-my-account-security__main">

			{{#> form action='/my/account/security/connect-account' method='GET' class='view-my-account-security__linking' }}

				<h2 class="view-my-account-security__headline">{{i18n.USERSPACE.ACCOUNT.SECURITY.CONNECTED_ACCOUNTS}}</h2>

				<div class="view-my-account-security__linking-account">
					<div class="view-my-account-security__linking-account-type">
						{{> icon icon='google' alt='google login icon' class='' }}
						<p>Google</p>
					</div>
					{{#if connectedGoogle}}
						<p>{{i18n.USERSPACE.ACCOUNT.SECURITY.CONNECTED}}</p>
					{{else}}
						<button type="submit" formaction="/auth/google-login" class="btn-outline primary">{{i18n.USERSPACE.ACCOUNT.SECURITY.CONNECT_NOW}}</button>
					{{/if}}
				</div>
				<div class="view-my-account-security__linking-account">
					<div class="view-my-account-security__linking-account-type">
						{{> icon icon='twitter' alt='twitter login icon' class='' }}
						<p>Twitter</p>
					</div>
					{{#if connectedTwitter}}
						<p>{{i18n.USERSPACE.ACCOUNT.SECURITY.CONNECTED}}</p>
					{{else}}
						<button type="submit" formaction="/auth/twitter-login" class="btn-outline primary">{{i18n.USERSPACE.ACCOUNT.SECURITY.CONNECT_NOW}}</button>
					{{/if}}
				</div>

				{{#> form-general-errors}}
					{{> form-error error='unknown' message=i18n.USERSPACE.ACCOUNT.SECURITY.ERR_UNKNOWN }}
				{{/form-general-errors}}

			{{/form}}

			<div class="view-my-account-security__password">

				<h2 class="view-my-account-security__headline">{{i18n.USERSPACE.ACCOUNT.SECURITY.PASSWORD}}</h2>

				{{#unless localLoginPassword}}
					<p class="view-my-account-security__password-explanation">{{i18n.USERSPACE.ACCOUNT.SECURITY.PASSWORD_EXPLANATION}}</p>
				{{/unless}}

				{{#> form action='/my/account/security/update-password' class='view-my-account-security__password-form' }}

					{{#if localLoginPassword}}
						{{#> form-input name='current_password' type='password' label=i18n.USERSPACE.ACCOUNT.SECURITY.CURRENT_PASSWORD autocomplete='password' }}
							{{> form-error error='isNotEmpty' message=i18n.USERSPACE.ACCOUNT.SECURITY.CURRENT_PASSWORD_ERR_REQUIRED }}
							{{> form-error error='invalid' message=i18n.USERSPACE.ACCOUNT.SECURITY.CURRENT_PASSWORD_ERR_INVALID }}
						{{/form-input}}
					{{/if}}

					{{#> form-input name='password' type='password' label=i18n.USERSPACE.ACCOUNT.SECURITY.PASSWORD autocomplete='new-password'}}
						{{> form-error error='isNotEmpty' message=i18n.USERSPACE.ACCOUNT.SECURITY.PASSWORD_ERR_REQUIRED }}
						{{> form-error error='minLength' message=i18n.USERSPACE.ACCOUNT.SECURITY.PASSWORD_ERR_MIN clientValData='8' }}
						{{> form-error error='matches' message=i18n.USERSPACE.ACCOUNT.SECURITY.PASSWORD_ERR_COMPLEXITY clientValData='^(?=.*[A-Za-z])(?=.*[0-9]).*$' }}
					{{/form-input}}

					{{#> form-input name='password_repeat' type='password' label=i18n.USERSPACE.ACCOUNT.SECURITY.PASSWORD_REPEAT autocomplete='new-password'}}
						{{> form-error error='isNotEmpty' message=i18n.USERSPACE.ACCOUNT.SECURITY.PASSWORD_REPEAT_ERR_REQUIRED }}
						{{> form-error error='matchesProperty' message=i18n.USERSPACE.ACCOUNT.SECURITY.PASSWORD_REPEAT_ERR clientValData='password' }}
					{{/form-input}}

					{{#> form-general-errors}}
						{{> form-error error='unknown' message=i18n.USERSPACE.ACCOUNT.SECURITY.ERR_UNKNOWN }}
					{{/form-general-errors}}

					<button type="submit" class="btn-raised primary view-my-account-security__password-save">{{i18n.USERSPACE.ACCOUNT.SECURITY.SAVE}}</button>

				{{/form}}
			</div>

		</div>
	</section>

</div>
