{{#> popup title=i18n.POPUP.PROJECT_COMP_SHARE.TITLE defaultOpen=true jsFunction='viewProjectComponentSharePopup' }}
	<div class="view-project-component-share-popup">
		{{#> form action=(concat action id)}}

			<p class="view-project-component-share-popup__explanation">{{i18n.POPUP.PROJECT_COMP_SHARE.EXPLANATION}}</p>

			<h4 class="view-project-component-share-popup__link-head">{{i18n.POPUP.PROJECT_COMP_SHARE.LINK}}</h4>
			<div class="view-project-component-share-popup__link">
				<p>{{shareLink}}</p>
				<button type="button" class="btn-outline primary view-project-component-share-popup__link-copy" data-link="{{shareLink}}">{{i18n.POPUP.PROJECT_COMP_SHARE.COPY}}</button>
				<button type="submit" formaction="{{concat regenerateAction id}}" class="btn-outline secondary view-project-component-share-popup__link-regenerate">{{i18n.POPUP.PROJECT_COMP_SHARE.REGENERATE}}</button>
			</div>

			<p class="view-project-component-share-popup__regenerate-warn">{{i18n.POPUP.PROJECT_COMP_SHARE.REGENERATE_WARN}}</p>

			<div class="view-project-component-share-popup__public-switch">
				<p>{{i18n.POPUP.PROJECT_COMP_SHARE.PUBLIC}}</p>
				{{> form-switch name='public' checked=public }}
			</div>

			<div class="view-project-component-share-popup__buttons">
				<button type="button" class="btn-raised secondary view-project-component-share-popup__cancel partial-popup__close">{{i18n.POPUP.PROJECT_COMP_SHARE.CANCEL}}</button>
				<button type="submit" class="btn-raised primary view-project-component-share-popup__submit">{{i18n.POPUP.PROJECT_COMP_SHARE.SAVE}}</button>
			</div>

		{{/form}}
	</div>
{{/popup}}
