{{#> popup title=i18n.POPUP.PROJECT_COMP_INFO.TITLE  defaultOpen=true }}
	<div class="view-project-component-info-popup">
		<div class="view-project-component-info-popup__image-container">
			<img src="{{ternary (expr @root.preferences.theme '===' 'dark') this.previewDark this.previewLight}}" alt="Preview Image" class="view-project-component-info-popup__image">
		</div>
		<div class="view-project-component-info-popup__item">
			<p>{{i18n.POPUP.PROJECT_COMP_INFO.NAME}}:</p>
			<p>{{name}}</p>
		</div>
		<hr class="view-project-component-info-popup__hr">
		<div class="view-project-component-info-popup__item">
			<p>{{i18n.POPUP.PROJECT_COMP_INFO.CREATED}}:</p>
			<p>{{createdOn}}</p>
		</div>
		<div class="view-project-component-info-popup__item">
			<p>{{i18n.POPUP.PROJECT_COMP_INFO.MODIFIED}}:</p>
			<p>{{lastEdited}}</p>
		</div>
		<hr class="view-project-component-info-popup__hr">
		{{#if (expr type '===' 'component')}}
			<div class="view-project-component-info-popup__item">
				<p>{{i18n.POPUP.PROJECT_COMP_INFO.INPUTS}}:</p>
				<p>{{numInputs}}</p>
			</div>
			<div class="view-project-component-info-popup__item">
				<p>{{i18n.POPUP.PROJECT_COMP_INFO.OUTPUTS}}:</p>
				<p>{{numOutputs}}</p>
			</div>
			<div class="view-project-component-info-popup__item">
				<p>{{i18n.POPUP.PROJECT_COMP_INFO.SYMBOL}}:</p>
				<p>{{symbol}}</p>
			</div>
			<hr class="view-project-component-info-popup__hr">
		{{/if}}
		<div class="view-project-component-info-popup__item view-project-component-info-popup__streched">
			<p>{{i18n.POPUP.PROJECT_COMP_INFO.DEPENDENCIES}}:</p>
			<p>
				{{#if (expr dependencies '!==' '')}}
					{{dependencies}}
				{{else}}
					{{i18n.POPUP.PROJECT_COMP_INFO.NO_DEPENDENCIES}}
				{{/if}}
			</p>
		</div>
		{{#if (expr type '===' 'component') }}
			<div class="view-project-component-info-popup__item view-project-component-info-popup__streched">
				<p>{{i18n.POPUP.PROJECT_COMP_INFO.DEPENDENT_PROJECTS}}:</p>
				<p>
					{{#if (expr projectDependents '!==' '')}}
						{{projectDependents}}
					{{else}}
						{{i18n.POPUP.PROJECT_COMP_INFO.NO_DEPENDENCIES}}
					{{/if}}
				</p>
			</div>
			<div class="view-project-component-info-popup__item view-project-component-info-popup__streched">
				<p>{{i18n.POPUP.PROJECT_COMP_INFO.DEPENDENT_COMPONENTS}}:</p>
				<p>
					{{#if (expr componentDependents '!==' '')}}
						{{componentDependents}}
					{{else}}
						{{i18n.POPUP.PROJECT_COMP_INFO.NO_DEPENDENCIES}}
					{{/if}}
				</p>
			</div>
		{{/if}}
		<hr class="view-project-component-info-popup__hr">
		<div class="view-project-component-info-popup__item view-project-component-info-popup__streched">
			<p>{{i18n.POPUP.PROJECT_COMP_INFO.DESCRIPTION}}:</p>
			<p>{{description}}</p>
		</div>
	</div>
{{/popup}}
