<div class="partial-burger-menu__background"></div>
<div class="partial-burger-menu">
	<div class="partial-burger-menu__top">
		<a href="{{linkHref '/features'}}" class="partial-burger-menu__entry">
			{{> icon icon='features' alt='Features Link' class='partial-burger-menu__entry-icon' }}
			<p>{{i18n.SITE_HEADER.FEATURES}}</p>
		</a>
		<a href="{{linkHref '/download'}}" class="partial-burger-menu__entry">
			{{> icon icon='download' alt='Downlaod Page Link' class='partial-burger-menu__entry-icon' }}
			<p>{{i18n.SITE_HEADER.DOWNLOAD}}</p>
		</a>
		{{#if isAuthenticated }}
			<a href="{{linkHref '/my/projects'}}" class="partial-burger-menu__entry">
				{{> icon icon='archive' alt='my Projects Link' class='partial-burger-menu__entry-icon' }}
				<p>{{i18n.SITE_HEADER.PROJECTS}}</p>
			</a>
			<a href="{{linkHref '/my/components'}}" class="partial-burger-menu__entry">
				{{> icon icon='archive' alt='my Components Link' class='partial-burger-menu__entry-icon' }}
				<p>{{i18n.SITE_HEADER.COMPONENTS}}</p>
			</a>
		{{/if}}
	</div>
	<div class="partial-burger-menu__bottom">
		<div class="partial-burger-menu__entry">
			{{#> form action='/preferences/set-lang' namePrefix='burger' }}
				<select name="lang" class="partial-burger-menu__lang-select" onchange="this.form.submit()">
					<option value="en" {{#if (expr preferences.lang '===' 'en') }}selected="selected"{{/if}}>{{i18n.LANGUAGE.EN}}</option>
					<option value="de" {{#if (expr preferences.lang '===' 'de') }}selected="selected"{{/if}}>{{i18n.LANGUAGE.DE}}</option>
				</select>
			{{/form}}
			<label>{{i18n.SETTINGS_DROPDOWN.LANGUAGE}}</label>
		</div>
		<div class="partial-burger-menu__entry">
			{{#> form action='/preferences/set-theme' namePrefix='burger' class='partial-burger-menu__theme-select'}}
				{{> form-switch name='dark_mode' checked=(expr preferences.theme '===' 'dark') label=i18n.SETTINGS_DROPDOWN.DARK_MODE onchange='this.form.submit()' }}
			{{/form}}
		</div>
		{{#if isAuthenticated }}
			<a href="{{linkHref '/my/settings'}}" class="partial-burger-menu__entry">
				{{> icon icon='user' alt='Account' class='partial-burger-menu__entry-icon' }}
				<p>{{i18n.SETTINGS_DROPDOWN.ACCOUNT}}</p>
			</a>
			<a href="/auth/logout" class="partial-burger-menu__entry">
				{{> icon icon='logout' alt='Logout' class='partial-burger-menu__entry-icon' }}
				<p>{{i18n.SETTINGS_DROPDOWN.LOGOUT}}</p>
			</a>
		{{else}}
			<div class="partial-burger-menu__entry partial-burger-menu__login">
				{{> icon icon='login' alt='Login' class='partial-burger-menu__entry-icon' }}
				<p>{{i18n.SITE_HEADER.LOGIN}}</p>
			</div>
			<div class="partial-burger-menu__entry partial-burger-menu__register">
				{{> icon icon='pencil-alt' alt='Register' class='partial-burger-menu__entry-icon' }}
				<p>{{i18n.SITE_HEADER.REGISTER}}</p>
			</div>
		{{/if}}
	</div>
</div>
