<footer class="partial-footer">
	<a class="partial-footer__link" href="{{linkHref '/privacy-policy'}}">{{i18n.FOOTER.DATA_POLICY}}</a>
	<a class="partial-footer__link" href="{{linkHref '/imprint'}}">{{i18n.FOOTER.IMPRINT}}</a>
	<a class="partial-footer__link" href="https://github.com/logigator/logigator" target="_blank" rel="noopener">{{i18n.FOOTER.CONTRIBUTING}}</a>
</footer>
