<!-- parameters: name: string, label: string, tooltip: string, value: string -->

<div class="partial-form-area {{#formFieldHasErrors name}}is-invalid{{/formFieldHasErrors}}">
		<label class="partial-form-area__label" for="{{concat @formName '_' name}}">{{label}}</label>
		<textarea class="partial-form-area__area" name="{{name}}" id="{{concat @formName '_' name}}" >{{formFieldValue name value}}</textarea>
	<div class="partial-form-area__errors">
		{{#formFieldNameScope name }}
			{{#if @partial-block}}
				{{> @partial-block }}
			{{/if}}
		{{/formFieldNameScope}}
	</div>
</div>
