{{#> info-popup name='local-register' title=i18n.INFO_POPUP.LOCAL_REGISTER.TITLE }}
	<h3>{{i18n.INFO_POPUP.LOCAL_REGISTER.LINE_1}}</h3>
	<p>{{i18n.INFO_POPUP.LOCAL_REGISTER.LINE_2}}</p>
	<button type="button" class="btn-raised primary partial-popup__close">{{i18n.INFO_POPUP.LOCAL_REGISTER.OK_BUTTON}}</button>
{{/info-popup}}

{{#> info-popup name='email-updated' title=i18n.INFO_POPUP.EMAIL_UPDATED.TITLE }}
	<h3>{{i18n.INFO_POPUP.EMAIL_UPDATED.LINE_1}}</h3>
	<p>{{i18n.INFO_POPUP.EMAIL_UPDATED.LINE_2}}</p>
	<button type="button" class="btn-raised primary partial-popup__close">{{i18n.INFO_POPUP.EMAIL_UPDATED.OK_BUTTON}}</button>
{{/info-popup}}

{{#> info-popup name='password-changed' title=i18n.INFO_POPUP.PASSWORD_CHANGED.TITLE }}
	<p>{{i18n.INFO_POPUP.PASSWORD_CHANGED.LINE_1}}</p>
	<button type="button" class="btn-raised primary partial-popup__close">{{i18n.INFO_POPUP.PASSWORD_CHANGED.OK_BUTTON}}</button>
{{/info-popup}}

{{#> info-popup name='account-deleted' title=i18n.INFO_POPUP.ACCOUNT_DELETED.TITLE }}
	<p>{{i18n.INFO_POPUP.ACCOUNT_DELETED.LINE_1}}</p>
	<button type="button" class="btn-raised primary partial-popup__close">{{i18n.INFO_POPUP.ACCOUNT_DELETED.OK_BUTTON}}</button>
{{/info-popup}}
