{{#> info-popup name='local-register' title=i18n.INFO_POPUP.LOCAL_REGISTER.TITLE }}
	<h3>{{i18n.INFO_POPUP.LOCAL_REGISTER.LINE_1}}</h3>
	<p>{{i18n.INFO_POPUP.LOCAL_REGISTER.LINE_2}}</p>
	<button type="button" class="btn-raised primary partial-popup__close">{{i18n.INFO_POPUP.LOCAL_REGISTER.OK_BUTTON}}</button>
{{/info-popup}}

{{#> info-popup name='email-updated' title=i18n.INFO_POPUP.EMAIL_UPDATED.TITLE }}
	<h3>{{i18n.INFO_POPUP.EMAIL_UPDATED.LINE_1}}</h3>
	<p>{{i18n.INFO_POPUP.EMAIL_UPDATED.LINE_2}}</p>
	<button type="button" class="btn-raised primary partial-popup__close">{{i18n.INFO_POPUP.EMAIL_UPDATED.OK_BUTTON}}</button>
{{/info-popup}}
