{{! parameters: action: string, oauthForm: string }}

<div class="partial-login-register-form">
	<h3 class="partial-login-register-form__headline">{{i18n.LOGIN_FORM.HEADLINE}}</h3>

	{{#> form action=action}}
		{{#> form-input name='email' type='email' label=i18n.LOGIN_FORM.EMAIL autocomplete='email'}}
			{{> form-error error='isNotEmpty' message=i18n.LOGIN_FORM.EMAIL_ERR_REQUIRED }}
			{{> form-error error='isEmail' message=i18n.LOGIN_FORM.EMAIL_ERR_INVALID }}
			{{> form-error error='noUser' message=i18n.LOGIN_FORM.EMAIL_ERR_NO_USER }}
			{{> form-error error='notVerified' message=i18n.LOGIN_FORM.EMAIL_ERR_NOT_VERIFIED }}
		{{/form-input}}
		{{#> form-input name='password' type='password' label=i18n.LOGIN_FORM.PASSWORD autocomplete='current-password'}}
			{{> form-error error='isNotEmpty' message=i18n.LOGIN_FORM.PASSWORD_ERR_REQUIRED }}
			{{> form-error error='invalid' message=i18n.LOGIN_FORM.PASSWORD_ERR_INVALID }}
		{{/form-input}}

		{{#> form-general-errors}}
			{{> form-error error='emailTaken' message=i18n.LOGIN_FORM.ERR_EMAIL_TAKEN }}
			{{> form-error error='verificationMail' message=i18n.LOGIN_FORM.ERR_VERIFICATION_MAIL }}
			{{> form-error error='unknown' message=i18n.LOGIN_FORM.ERR_UNKNOWN }}
		{{/form-general-errors}}

		{{#formFieldNameScope 'email' }}
			{{#formFieldError 'notVerified'}}
				<div class="partial-login-register-form__resend-container">
					<button class="btn-outline secondary" type="submit" formaction="/auth/resend-verification-mail">{{i18n.LOGIN_FORM.RESEND_BUTTON}}</button>
				</div>
			{{/formFieldError}}
		{{/formFieldNameScope}}

		<button type="submit" class="btn-raised primary partial-login-register-form__submit">{{i18n.LOGIN_FORM.LOGIN_BUTTON}}</button>
	{{/form}}

	<div class="partial-login-register-form__divider">
		<div class="divider"></div>
		<div>{{i18n.LOGIN_FORM.OR}}</div>
		<div class="divider"></div>
	</div>

	<div class="partial-login-register-form__social-media">
		<a class="btn-raised primary partial-login-register-form__google" href="/auth/google-login?form={{oauthForm}}">
			GOOGLE
			<img class="btn-raised secondary" src="assets/icons/dark/google.svg" alt="google login icon">
		</a>
		<a class="btn-raised primary partial-login-register-form__twitter" href="/auth/twitter-login?form={{oauthForm}}">
			TWITTER
			<img class="btn-raised secondary"src="assets/icons/dark/twitter.svg" alt="twitter login icon">
		</a>
	</div>
</div>
