<div class="partial-project-comp-list" data-current-page="{{currentPage}}" data-total-pages="{{totalPages}}">
	<div class="partial-project-comp-list__tiles">
		{{#each entries}}
			{{#if (expr @index '<' 4)}}
				<div class="partial-project-comp-list__tile-wrapper">
					<div class="partial-project-comp-list__tile">
						<h3 class="partial-project-comp-list__tile-name" auto-font-size="160">{{this.name}}</h3>
						<img class="partial-project-comp-list__tile-image" alt="Preview" src="{{this.previewImage}}">
						<div class="partial-project-comp-list__tile-hover">
							<a href="{{this.editorUrl}}" class="partial-project-comp-list__tile-open partial-project-comp-list__icon" target="_blank" rel="noopener"></a>
							<div class="partial-project-comp-list__tile-actions" data-id="{{this.id}}">
								<span class="partial-project-comp-list__icon-share partial-project-comp-list__icon"></span>
								<span class="partial-project-comp-list__icon-edit partial-project-comp-list__icon"></span>
								<span class="partial-project-comp-list__icon-delete partial-project-comp-list__icon"></span>
								<span class="partial-project-comp-list__icon-info partial-project-comp-list__icon"></span>
							</div>
						</div>
					</div>
					<div class="partial-project-comp-list__tile-detail">
						<h3 class="partial-project-comp-list__tile-detail-title">{{this.name}}</h3>
						<p class="partial-project-comp-list__tile-detail-edited">{{@root.i18n.USERSPACE.LIST.LAST_EDITED}} {{this.lastEdited}}</p>
						<div class="partial-project-comp-list__tile-detail-actions" data-id="{{this.id}}">
							<span class="partial-project-comp-list__icon-share partial-project-comp-list__icon"></span>
							<span class="partial-project-comp-list__icon-edit partial-project-comp-list__icon"></span>
							<span class="partial-project-comp-list__icon-delete partial-project-comp-list__icon"></span>
							<span class="partial-project-comp-list__icon-info partial-project-comp-list__icon"></span>
						</div>
					</div>
				</div>
			{{/if}}
		{{/each}}
		<div class="partial-project-comp-list__tile partial-project-comp-list__tile-empty">
			<div class="partial-project-comp-list__tile-hover"></div>
			<span class="partial-project-comp-list__icon-new partial-project-comp-list__icon"></span>
		</div>
	</div>
	{{#each entries}}
		<div class="partial-project-comp-list__list-item" data-id="{{this.id}}">
			<a href="{{this.editorUrl}}" target="_blank" rel="noopener" class="partial-project-comp-list__list-item-name">{{this.name}}</a>
			<p class="partial-project-comp-list__list-item-edited">{{@root.i18n.USERSPACE.LIST.LAST_EDITED}} {{this.lastEdited}}</p>
			<span class="partial-project-comp-list__icon-share partial-project-comp-list__icon"></span>
			<span class="partial-project-comp-list__icon-edit partial-project-comp-list__icon"></span>
			<span class="partial-project-comp-list__icon-delete partial-project-comp-list__icon"></span>
			<span class="partial-project-comp-list__icon-info partial-project-comp-list__icon"></span>
		</div>
	{{/each}}
</div>
