<div class="partial-settings-dropdown">
	<div class="partial-settings-dropdown__item partial-settings-dropdown__theme">
		<label>{{i18n.OPTIONS.DARK_MODE}}</label>
		{{#> form action='/prefernces/dark-mode' class='partial-settings-dropdown__theme-select'}}
			{{> form-switch name='dark_mode' checked=(expr preferences.theme '===' 'dark') }}
		{{/form}}
	</div>
	<div class="partial-settings-dropdown__item partial-settings-dropdown__lang">
		<label>{{i18n.OPTIONS.LANGUAGE}}</label>
		{{#> form action='/preferences/set-lang' }}
			<select name="lang" class="partial-settings-dropdown__lang-select" onchange="this.form.submit()">
				<option value="en" {{#if (expr preferences.lang '===' 'en') }}selected="selected"{{/if}}>{{i18n.LANGUAGE.EN}}</option>
				<option value="de" {{#if (expr preferences.lang '===' 'de') }}selected="selected"{{/if}}>{{i18n.LANGUAGE.DE}}</option>
			</select>
		{{/form}}
	</div>
	{{#if isAuthenticated }}
		<hr>
		<a class="partial-settings-dropdown__link partial-settings-dropdown__item" href="/my/projects">
			<img alt="projects" class="show-dark-theme" src="/assets/icons/dark/archive.svg">
			<img alt="projects" class="show-light-theme" src="/assets/icons/light/archive.svg">
			{{i18n.OPTIONS.PROJECTS}}
		</a>
		<a class="partial-settings-dropdown__link partial-settings-dropdown__item" href="/my/components">
			<img alt="components" class="show-dark-theme" src="/assets/icons/dark/archive.svg">
			<img alt="components" class="show-light-theme" src="/assets/icons/light/archive.svg">
			{{i18n.OPTIONS.COMPONENTS}}
		</a>
		<hr>
		<a class="partial-settings-dropdown__link partial-settings-dropdown__item" href="/my/settings">
			<img alt="account" class="show-dark-theme" src="/assets/icons/dark/user.svg">
			<img alt="account" class="show-light-theme" src="/assets/icons/light/user.svg">
			{{i18n.OPTIONS.ACCOUNT}}
		</a>
		<a class="partial-settings-dropdown__link partial-settings-dropdown__item" href="/auth/logout">
			<img alt="logout" class="show-dark-theme" src="/assets/icons/dark/logout.svg">
			<img alt="logout" class="show-light-theme" src="/assets/icons/light/logout.svg">
			{{i18n.OPTIONS.LOGOUT}}
		</a>
	{{/if}}
</div>
