<div class="partial-settings-dropdown">
	<div class="partial-settings-dropdown__item partial-settings-dropdown__theme">
		<label>{{i18n.SETTINGS_DROPDOWN.DARK_MODE}}</label>
		{{#> form action='/preferences/set-theme' class='partial-settings-dropdown__theme-select'}}
			{{> form-switch name='dark_mode' checked=(expr preferences.theme '===' 'dark') onchange='this.form.submit()' }}
		{{/form}}
	</div>
	<div class="partial-settings-dropdown__item partial-settings-dropdown__lang">
		<label>{{i18n.SETTINGS_DROPDOWN.LANGUAGE}}</label>
		{{#> form action='/preferences/set-lang' }}
			<select name="lang" class="partial-settings-dropdown__lang-select" onchange="this.form.submit()">
				<option value="en" {{#if (expr preferences.lang '===' 'en') }}selected="selected"{{/if}}>{{i18n.LANGUAGE.EN}}</option>
				<option value="de" {{#if (expr preferences.lang '===' 'de') }}selected="selected"{{/if}}>{{i18n.LANGUAGE.DE}}</option>
			</select>
		{{/form}}
	</div>
	{{#if isAuthenticated }}
		<hr>
		<a class="partial-settings-dropdown__link partial-settings-dropdown__item" href="{{linkHref '/my/projects'}}">
			{{> icon icon='archive' alt='projects' }}
			{{i18n.SETTINGS_DROPDOWN.PROJECTS}}
		</a>
		<a class="partial-settings-dropdown__link partial-settings-dropdown__item" href="{{linkHref '/my/components'}}">
			{{> icon icon='archive' alt='components' }}
			{{i18n.SETTINGS_DROPDOWN.COMPONENTS}}
		</a>
		<hr>
		<a class="partial-settings-dropdown__link partial-settings-dropdown__item" href="{{linkHref '/my/settings'}}">
			{{> icon icon='user' alt='account' }}
			{{i18n.SETTINGS_DROPDOWN.ACCOUNT}}
		</a>
		<a class="partial-settings-dropdown__link partial-settings-dropdown__item" href="/auth/logout">
			{{> icon icon='logout' alt='logout' }}
			{{i18n.SETTINGS_DROPDOWN.LOGOUT}}
		</a>
	{{/if}}
</div>
