<div class="partial-user-space-nav">
	<div class="partial-user-space-nav__links">
		<a class="partial-user-space-nav__link" href="{{linkHref '/my/projects' }}">{{i18n.USERSPACE.NAV.PROJECTS}}</a>
		<a class="partial-user-space-nav__link" href="{{linkHref '/my/components' }}">{{i18n.USERSPACE.NAV.COMPONENTS}}</a>
		<a class="partial-user-space-nav__link" href="{{linkHref '/my/account/profile' }}">{{i18n.USERSPACE.NAV.ACCOUNT}}</a>
	</div>
</div>
